html {
  scroll-behavior: smooth;
}

body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: #181818;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.botao-acesse {
  display: grid;
  background: #e21;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  text-transform: uppercase;
}
.botao-acesse:hover {
  background: rgb(122, 13, 3);
}
.subtitulo {
  font-size: 8rem;
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial !important;
  }
}
